.form{
    margin: 0 auto;
    max-width: max-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.input{
    width: 180px;
    padding: 5px;
    display: block;
    /* margin-bottom: 20px; */
}

.form{
    padding: 30px;
    border: 2px solid black;
    border-radius: 15px;
}
.button{
    font-size: 10px;
    font-weight:100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: blue;
    width: 100px;
    padding: 10px 20px;
    margin:20px;
}
  